
body{
    font-family: 'Iceland', 'Noto Sans TC';
    background: rgb(29, 31, 32);
}
.table{
    margin: 50px;
    width: 60%;
    margin-top: 5em;
    align-items: center;
}
td>input{
    width: 60%;
    border-radius: 3px;
    text-align: center;     
    margin: 1%;
    border: 0px;
    height: 30px;
}
td>select{
    margin: 20%;
    
}
.a{
    width: 80%;
}
.table td{
    vertical-align: middle;
}
