body{
    font-family: 'Iceland', 'Noto Sans TC';
    background:rgb(29, 31, 32);
}
.table{
    margin: 50px;
    margin-top: 5em;
    width: 50%;
    height: 600px;
}
td>input{
    width: 80%;
    border-radius: 3px;
    text-align: center;     
    margin: 1%;
    border: 0px;
}
td>select{
    margin: 5%;
}
.a{
    width: 80%;
}