body{
    margin: 0;
    padding: 0;
    font-family: 'Iceland', 'Noto Sans TC';
    background: rgba(46, 42, 42, 0.424);
}
.table{
    margin: 50px;
    font-size: 1rem;
}

a:link{
    color: rgb(241, 235, 224);
    text-decoration: none;
}
a:hover{
    color: rgb(63, 219, 211);
}