body{
    margin: 0;
    padding: 0;
    font-family: 'Iceland', 'Noto Sans TC';
    background: rgb(29, 31, 32);
}

a:link{
    color: rgb(241, 235, 224);
    text-decoration: none;
}
a:hover{
    color: rgb(63, 219, 211);
}
.table{
    vertical-align: center;
    margin: 50px;
    margin-top: 5em;
    font-size: 1rem;
    width: 60%;
}
.inv, .table td {
    vertical-align: center;
}