
body{
    background: rgb(29, 31, 32);
    font-family: 'Iceland', 'Noto Sans TC';
    margin: 0px;
    padding: 0px;
}

.table{
    width: 80%;
    margin: 50px;
    margin-top: 5em;
}
.table td{
    vertical-align: middle;
}